.DS_Store
.idea/
.gradle/
build/
target/
.gradle-home/
android/.gradle/
android/**/build/
android/app/src/main/jniLibs/
android/app/src/debug/jniLibs/
local.properties
*.iml
*.jks
*.keystore
key.properties
*.log
*.swp
*.tmp
